body{
    background-color: FloralWhite;
  }
  /* 
  box moddle:
  外邊框 用來設計元素與外部元素的距離 (margin)
  用來設計元素邊框的顏色、粗細與樣式 (border)
  邊框與內容間的內距（padding）  
  */
  .container{  
    position: relative; 
    border: 1px solid black;
    width: 800px;
    height: 200px;
    /*padding: 50px;*/
    margin:20px;  
    box-sizing: border-box;
    left: 50px;
  }
  

  .checkpoint{
    position: absolute;
    /* display: block; */
    top: 85px;
    left: 0px;
    width: 25px;
    height: 25px;
  }

  .leavemessage{
    position: absolute;
    display: block;
    top:10px;
    width: 350px;
    height: 150px;
    right: 25px;
    border:1px solid black;
  }

  .audio{
    position: absolute;
    width: 30%;
    top: 75px;
    left: 85px;
  }

  .submit_btn{
    position: absolute;
    right: 338px;
    top: 170px;
  }